.btn{
	
	font-size: 16px;
	background-color: #1c5677;
	color: white;
    padding: 1vh 1vw;
    margin: 5px;
}


body {
    background: url("../images/index.jpg") no-repeat center center fixed;
	background-size: cover;
}